.container {
    mat-card {
        margin-top: 64px;
    }
}

@media(max-width: 750px) {

    .card-container  {
        grid-template-columns: 1fr !important;


        .microphone-phrase {
         
            text-align: center;
        }
    
    }

}

.card-container {
    max-width: 900px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    
    
    grid-template-columns: 1fr 1fr;


    height: 100%;
    justify-content: center;
    align-items: center;

    .microphone-phrase {
        .guide {
            font-size: 30px;
            font-weight: 400;    
        }

        .feedback {
            font-size: 20px;
            font-weight: 400;

            padding-top: 10px;   
        }
        
        color: #616161;

        margin: auto;


        text-align: center;
    }

    .intensity-graphic-microphone {
        background: #dedede;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
    }
    .microphone-button-container {
        position: relative;
    }

    .microphone-container {
        margin: auto;
        
        .mat-icon {
            color: #616161;
        }

        button {
            border-radius: 100%;

            font-size: 55pt;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.dashboard-card-content {
    text-align: center;

    height: 100%;
    justify-content: center;
    align-items: center;
}


.grid-container {
  margin: 20px;
}

.dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;

    mat-card-header {    
        display: flex;
        justify-content: center;

        mat-card-title {
            margin: 0;
        }
    }
    
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

