<div class="container">

    <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
            <div class="card-container">
                <div class="microphone-phrase">
                    <div class="guide">{{textMsg}}</div>
                    <div class="feedback">{{feedBackMsg}}</div>
                </div>
                <div 
                    class="microphone-container"
                >
                    <div 
                        class="intensity-graphic-microphone" 
                        [style.width]=" intensityGraphicSize + 'px'"
                        [style.height]=" intensityGraphicSize + 'px'"
                    >
                        
                    </div>
                    <div 
                        class="microphone-button-container"
                        [style.top]="buttonTopOffset + 'px'"
                        [style.left]="buttonLeftOffset+ 'px'"
                    >
                        <button 
                            mat-raised-button 
                            [style.width]=" buttonSize + 'px'"
                            [style.height]=" buttonSize + 'px'"
                        >
                            <mat-icon inline="true" aria-hidden="false" aria-label="Microfone">mic</mat-icon>
                        </button>
                    </div>

                </div>
                    
            </div>
        </mat-card-content>
    </mat-card>  
</div>